# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# Byte-compiled / cache
*.pyo
*.pyd
*.pdb

# macOS / Windows system files
.DS_Store
Thumbs.db

# IDE folders
.idea/
